MYSQL_ROOT_PASSWORD=change-me
MYSQL_PASSWORD=change-me-too

S3_ACCESS_KEY=app-storage
S3_SECRET_KEY=change-this-to-a-long-random-string

# Should be base64 - ie. use something like `openssl rand -base64 32` to create secret
JWT_SECRET_KEY=Ka+n0WW2Z9CFmNoCBG3qq40LIe1AJ9jnWJFAEp2ylUk=
